[submodule "vim"]
	path = vim
	url = git@github.com:fheemeyer/.vim.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
