[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
	branch = master
[submodule "tmux"]
	path = tmux
	url = git@github.com:tonekk/tmux.git
	branch = master
[submodule "prezto"]
	path = zprezto
	url = git@github.com:tonekk/prezto.git
	branch = master
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "nvchad"]
	path = nvim
	url = git@github.com:tonekk/nvim.git
