[submodule "vim"]
	path = vim
	url = git@github.com:tonekk/vim.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:tonekk/tmux.git
[submodule "prezto"]
	path = zprezto
	url = git@github.com:tonekk/prezto.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:tonekk/nvim.git
